<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<!--    <link href="../static/css/userhome.css" rel="stylesheet"> -->

    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<!-- this script will make the 'other' select input box appear if implemented
<script type="text/javascript">
    $(function () {
        $("#txtTitle").change(function () {
            if ($(this).val() == "Other") {
                $("#dvOther").show();
            } else {
                $("#dvOther").hide();
            }
        });
    });
</script>       -->

<style>
    .header img {
        width: 150px;
    }
    legend {
        text-align: center;
    }



</style> 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/showAddPr">Add Item</a>
                    </li>
                    <li role="presentation"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
        <img src="/static/images/prtracker.png">
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/addPr">
                <fieldset>
 
                    <!-- Form Name - ADD PR FORM -->
                    <legend>Enter your new PR</legend>
 
                    <!-- Text input-->


                   <div class="form-group">
                        <label class="col-md-4 control-label" for="txtTitle">Type of Lift</label>
                        <div class="col-md-4">
<!--                            <input id="txtTitle" name="inputTitle" type="radio-inline" placeholder="type of lift" class="form-control input-md">-->
                           <select class="form-control" id="txtTitle" name="inputTitle">
                                <option value="Bench">Bench</option>
                                <option value="Back Squat">Back Squat</option>
                                <option value="Front Squat">Front Squat</option>
                                <option value="Conventional Deadlift">Conventional Deadlift</option>
                                <option value="Sumo Deadlift">Sumo Deadlift</option>
                                <option value="OHP">OHP</option>
                                <option value="Row">Row</option>
                            </select>

<!-- this is a hidden field to display upon selcting "other" if implemented-->
<!--<div id="dvOther" style="display: none">
    Specify:
    <input type="text" id="txtTitle" name="inputTitle"/>
</div>
-->

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtAmount">Weight</label>
                        <div class="col-md-4">
                            <input id="txtAmount" name="inputAmount" type="text" placeholder="weight" class="form-control input-md">
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtDate_Ach">Date Achieved</label>
                        <div class="col-md-4">
                            <input id="txtDate_Ach" name="inputDate_Ach" type="date" placeholder="date" class="form-control input-md">
                        </div>
                    </div> 

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtDescription">Notes</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtDescription" name="inputDescription"></textarea>
                        </div>
                    </div>
 
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>
        <footer class="footer">
            <p>&copy; Mandi Hanway 2017</p>
        </footer>
 
    </div>
</body>
 
</html>